@tailwind base;
@tailwind components;
@tailwind utilities;

.keys{
    cursor: pointer;
    transition: all 0.5s;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: all 0.5s;
}
.key{
    transition: all 0.5s;
    border-left:groove 4px black;
    border-right:groove 4px black;
    border-bottom:groove 4px black;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
input{
    transition: all 0.5s;
    color: black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-left:groove 4px black;
    border-right:groove 4px black;
    border-top:groove 4px black;
}

.theme{
    width: 30px;
    transition: all 0.5s;
    border-radius:20px;
    cursor: pointer;
}
.theme:hover{
    box-shadow: 0 0 0 2px black;
    transition: all 0.25s;
}
.theme:active{
    opacity: 0.5;
    transition: all 0.5s;
}

.show{
    animation: show 1s normal;
    transition: all 0.5s;
    transition: all 0.5s;
}
